<div class="container">

  <div class="jumbotron">
    <h1>
      Tarefas a fazer
    </h1>
    <h2>Lista de Tarefas</h2>
  </div>

  <ul>
    <li *ngFor="let item of tarefas" class="list-group-item">
      <p>{{item.descricao}}</p>
      <button (click)="removeTarefa(item)" class="btn btn-danger">Remover</button>
      <input type="text" [(ngModel)]="item.valorUpdate"> 
      <button (click)="updateTarefa(item)" id="botaoAtualizar">Atualizar</button>
    </li>
  </ul>

  <hr>

  <input type="text" [(ngModel)]="tarefa">
  <button (click)="addTarefa()">Adicionar</button>

</div>