<div class="container">
  <form>
    <h3>Tarefas a Fazer</h3>
    <div class="row">
      <table class="table">
        <tr>
          <td>
            <div>
              <input [(ngModel)]="tarefa.descricao" name="tarefa" class="text-danger" placeholder="Digite a tarefa">
              <button (click)="addTarefa()" class="btn btn-success">Adicionar</button>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class="row">
      <table class="table table-striped">
        <tr>
          <td>Id</td>
          <td>Descrição</td>
          <td>Data de Criação</td>
          <td>Atualiza</td>
          <td>Deleta</td>
        </tr>
        <tr *ngFor="let item of tarefas">
          <td>{{item.id}}</td>
          <td>{{item.descricao}}</td>
          <td>{{item.dataCriacao}}</td>
          <td><a (click)="updateTarefa(item)" class="btn btn-warning">Atualizar</a>
            <input type="text" [(ngModel)]="item.valorUpdate" name="atualizaTarefa">
          </td>
          <td><a (click)="removeTarefa(item)" class="btn btn-danger">Deletar</a></td>
        </tr>
      </table>
    </div>
  </form>
</div>
